.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}
.top {
  background-image: url(../src/bg2.jpg);
  padding-top: 10em;
  padding-bottom: 10em;
}

.top img{
    width: 70%;
    height: 70%;
}


.foot {
  background-image: url(../src/foot5.jpg);
  padding-top: none;
  padding-bottom: 25em;
}

.foot h1{
  /* color: rgba(255, 0, 0, 0.829); */
    padding-top: 1em;
    font-size: 400%;
}

@media (prefers-reduced-motion: no-preference) {
  .saber {
    animation: saber-spin infinite 10s linear;
  }
}

.neon {
  color: #fff;
  text-shadow:
    0 0 5px #fff,
    0 0 10px #fff,
    0 0 20px #fff,
    0 0 40px red,
    0 0 80px red,
    0 0 90px red,
    0 0 100px red,
    0 0 150px red,
    0 0 180px red,
    0 0 200px red,
    0 0 250px red;
}

@keyframes saber-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.saberimage img{
  margin-top: 6em;
  height:10%;
  width: 10%;
}

.arrow {
  font-size: 70px;
  animation-duration: 2s;
  animation-iteration-count: infinite;
  transform-origin: bottom;
}

.arrow {
  animation-name: arrow;
  animation-timing-function: linear;
}
@keyframes arrow {
  0%   { transform: translateY(0); }
  50%  { transform: translateY(-50px); }
  100% { transform: translateY(0); }
}

  